/* ==========================================
   Nama File: style.css
   Deskripsi: Pengatur tampilan base.html
   Penulis:   Stan Fredheric, Miftah Rijallul Aziz, Fawwaz Areefa Yaqzhan
   NPM:        140810230046 ,     140810230053    ,     140810230055     
   Tanggal:   01-06-2026
   Catatan:
     - Hanya berisi aturan tampilan bagi base.html
     - Aturan tampilan halaman lain ada di file tersendiri
   ========================================== */

   